<div class="container">
  <p>物件名: <%=@building.name%></p>
  <p>賃料: <%=@building.rent.to_s(:delimited)%>円</p>
  <p>住所: <%=@building.age%>年</p>
  <p>備考: <%=@building.remarks%></p>

  <div class="line"></div>

  <% @building.stations.each_with_index do |station, index|%>
    <h3>最寄駅<%= index + 1%></h3>
    <p>路線名: <%= station.route_name %>線</p>
    <p>駅名: <%= station.name %>駅</p>
    <p>徒歩分数: <%= station.minutes_walk %>分</p>
  <% end %>
  <%= link_to '編集', edit_building_path(@building)%>
  <%= link_to '戻る', buildings_path%>
</div>